body{
	font-family: 'Arial';
}

.select{
	width: auto;
	min-width: 100px;
	display: inline-block;
	margin: 10px 0px;
}

.checkbox{
	display: inline-block;
}

.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

.heading{
	font-size: 30px;
    margin-bottom: 15px;
}

.title{
	font-size: 20px;
    margin: 15px 0;
}

.running{
	color:green;
}

.stopped{
	color:red;
}

.login-status{
	text-align: right;
}

.login-status a {
	text-decoration: none;
	cursor: pointer;
	margin: 5px;
}

.btn{
	display: inline-block;
}

.selectable{
	cursor: pointer;
}