<div class="container">
	<div class="createSchedule">
		<div class="row">
			<span class="col-md-2">Instance Id</span>
			<select>
				<option value="uptime">Uptime</option>
				<option value="downtime">Downtime</option>
			</select>
		</div>
		<div class="row">
			<span class="col-md-2">Nature</span>
			<select>
				<option value="uptime">Uptime</option>
				<option value="downtime">Downtime</option>
			</select>
		</div>
		<div class="row">
			<span class="col-md-2">Timespan</span>
			<select>
				<option value="weekly">Weekly</option>
				<option value="daily">Daily</option>
			</select>
		</div>
	</div>
</div>