<div class="container" ng-controller="ScheduleController as scheduleController">
	<div class="col-md-4">
		<div ng-controller="InstancesController as instancesController">
			<div class="teams">
				<strong>Team:</strong>
				<select ng-model="instancesController.currentTeam" ng-change="instancesController.fetchInstances(instancesController.currentTeam)"
				class="form-control select">
					<option ng-repeat="team in instancesController.teams" value="{{ team.name }}">
						{{ team.name }}
					</option>
				</select>
				<strong>Region:</strong>
				<select ng-model="instancesController.currentRegion" class="form-control select">
					<option value="">All</option>
					<option ng-repeat="region in instancesController.regions" value="{{ region }}">
						{{ region }}
					</option>
				</select>
			</div>
			<table class="table col-sm-10">
				<tr class="table-header">
					<th>Instance ID</th>
					<th>Name</th>
					<th class="col-sm-2">Environment</th>
				</tr>
				<tr class="repeated-item selectable" ng-repeat="instance in instancesController.instances | filter: instancesController.currentRegion"
				ng-click="scheduleController.loadScheduleForInstance(instance)">
					<td>{{ instance.instanceId }}</td>
					<td>{{ instance.Name }}</td>
					<td class="col-sm-2">{{ instance.Environment }}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="createSchedule col-md-8">
		<table class="table table-striped">
			<tr>
				<th></th>
				<th ng-repeat="hour in scheduleController.hours">{{ hour }}</th>
			</tr>
			<tr ng-repeat="day in scheduleController.weekdays">
				<th>{{ day }}</th>
				<td>
					<range ng-show="scheduleController.schedule.schedules[day][0]" 
					class="scheduleController.schedule.nature" 
					start="scheduleController.schedule.schedules[day][0].start" 
					end="scheduleController.schedule.schedules[day][0].end">
					</range>
				</td>
			</tr>

		</table>
		<!--<div class="row">
			<span class="col-md-2">Instance Id</span>
			<select>
				<option value="uptime">Uptime</option>
				<option value="downtime">Downtime</option>
			</select>
		</div>
		<div class="row">
			<span class="col-md-2">Nature</span>
			<select>
				<option value="uptime">Uptime</option>
				<option value="downtime">Downtime</option>
			</select>
		</div>
		<div class="row">
			<span class="col-md-2">Timespan</span>
			<select>
				<option value="weekly">Weekly</option>
				<option value="daily">Daily</option>
			</select>
		</div>-->
	</div>
</div>