<div ng-controller="TeamController as teamController" class="container">

	<div class="col-md-4">
		<table class="table table-hover">
			<tr class="table-header">
				<th colspan="2" class="text-right">
					<div>
						<input type="text" ng-model="teamController.newTeamName" class="col-md-8" required/>
						<a ng-class="(teamController.newTeamName.length > 0) ? 'btn btn-primary ' : 'btn btn-primary disabled'" ng-click="teamController.createTeam()">
							<span>Create team</span>
						</a>
					</div>
				</th>
			</tr>
			<tr class="repeated-item selectable" ng-repeat="team in teamController.teams">
				<td class="col-md-10" ng-click="teamController.selectTeam(team)">{{ team.name }}</td>
				<td class="col-md-2 text-right">
					<a class="btn" ng-click="teamController.deleteTeam(team.name)">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div ng-hide="teamController.selectedTeam">
		Please select a team.
	</div>
	<div class="col-md-8" ng-show="teamController.selectedTeam">
		<div>
			<div class="heading">{{ teamController.selectedTeam.name }}</div>
			<div>
				<div class="title">Credentials:</div>
				<div ng-show="teamController.selectedTeam.accessKeyId">
					<span>Access Key Id: {{teamController.selectedTeam.accessKeyId}} </span>
					<a ng-click="teamController.editCredentials()" class="btn btn-primary">Update</a>
				</div>
				<div ng-show="teamController.selectedTeam.accessKeyId === null || teamController.showEditCredentialView">
					<div class="row">
						<span class="col-md-3">Access Key Id:</span>
						<input class="col-md-9" type="text" ng-model="teamController.accessKeyId" />
					</div>
					<div class="row">
						<span class="col-md-3">Secret Access Key:</span>
						<input class="col-md-9" type="password" ng-model="teamController.secretAccessKey" />
					</div>
					<div class="row">
						<span class="col-md-3"></span>
						<a ng-class="(teamController.accessKeyId.length > 0 && teamController.secretAccessKey.length > 0) ? 'btn btn-primary' : 'btn btn-primary disabled'"
						ng-click="teamController.saveCredentials()">Save</a>
					</div>
				</div>
			</div>

		</div>
		<div class="col" ng-include src="'views/teams/members.html'"></div>
		
		<div class="col" ng-include src="'views/teams/instances.html'"></div>
	</div>
</div>