<div ng-controller="TeamController as teamController" class="container">

	<div class="col-md-4">
		<table class="table table-striped col-sm-10">
			<tr class="table-header">
				<th>Name</th>
				<th class="col-sm-2">State</th>
			</tr>
			<tr class="repeated-item selectable" ng-repeat="team in teamController.teams" ng-click="teamController.selectTeam(team.name)">
				<td>{{ team.name }}</td>
				<td class="col-md-5">
					<a class="btn btn-warning btn btn-edit" ng-click="teamController.edit()">Edit</a>
					<a class="btn btn-danger btn btn-delete" ng-click="teamController.delete()">Delete</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-8">
		<div>
			<div  class="heading">{{ teamController.selectedTeam.name }}</div>
			<div>
				Add member:
				<input type="text" ng-model="teamController.newMember" />
				<a class="btn btn-primary" ng-click="teamController.addMember()">Add</a>
			</div>
		</div>
		<div>
			<div class="title"> Members:</div>
			<table class="table table-striped col-sm-10">
				<tr class="repeated-item" ng-repeat="member in teamController.selectedTeam.members">
					<td>{{ member }}</td>
					<td class="col-sm-2">
						<a class="btn btn-danger btn btn-delete" ng-click="teamController.removeMember(member)">Remove</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>