{

	"db": {
		"username": "",
		"password": "",
		"host": "127.0.0.1",
		"port": 27017,
		"database": "lightswitch"
	},
	"credentials": {
		"accessKeyId": "aki",
		"secretAccessKey": "sak",
		"region": "eu-west-1"
	},
	"google": {
		"clientId": "google.client.id",
		"clientSecret": "google.client.secret",
		"callbackURL": "http://localhost:3000/auth/login/callback"
	}
}